@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
:root {
  --background: #000;
  --primary-color: #ffffff;
  --accent-color: #faff00;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1.9em 8em;
}

.logo span {
  color: var(--accent-color);
  font-weight: 600;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2.5em;
}
li a {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}
li a:hover {
  color: var(--accent-color);
}

.hero {
  display: flex;
  height: 90vh;
  position: relative;
  min-height: 500px;
}
.hero_text {
  position: absolute;
  background-color: #faff00;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    100deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: start;
  padding: 0 8em;
}
.hero_text h1 {
  font-size: 3rem;
  line-height: 60px;
  letter-spacing: 5px;
}

.hero_text button {
  background-color: var(--accent-color);
  color: var(--background);
  padding: 0.8em 1em;
  border-radius: 4em;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.1rem;
}
.hero_img {
  display: flex;
  width: 100%;
  justify-content: end;
  /* padding: 1.5em 0; */
  /* width: 50%; */
}
.hero_img img {
  width: 65%;
  height: 100%;
  object-fit: cover;
  object-position: 0 20px;
}

.reason {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 8em;
}
.reason h2,
.reason_text {
  width: 100%;
}

.reason h2 {
  font-size: 1.9rem;
  margin-bottom: 1em;
}

.reason_points h6 {
  font-size: 1rem;
  margin-bottom: 3px;
}

.reason_points p {
  font-size: 0.8rem;
  gap: 10px;
}
.reason_text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.reason_points {
  flex-basis: calc(50% - 25px);
}
.reason_points {
  align-items: center;
  display: flex;
  gap: 10px;
}
.reason_points .icon {
  width: 50px;
  height: 50px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reason_points .icon svg {
  font-size: 10px;
}
.price {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8em;
}

.membership {
  display: flex;
  gap: 5.5em;
  justify-content: center;
  width: 100%;
}
.passes ul {
  list-style: none;
  font-size: 0.7rem;
  margin-top: 20px;
  font-weight: 500;
}

.price h2 {
  margin-bottom: 1em;
  font-size: 1.9rem;
}

.passes {
  background-color: rgba(152, 152, 152, 0.183);
  width: 220px;
  padding: 1em;
  border-radius: 0.5em;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passes hr {
  width: 100%;
  height: 2px;
  background-color: #0a0a0a70;
}

.passes h4 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5px;
}

.passes h6 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 10px;
}

.passes li {
  margin-bottom: 5px;
}

.passes button {
  background-color: var(--accent-color);
  color: var(--background);
  margin-top: auto;
  margin-bottom: 10px;
  border-radius: 2em;
  padding: 0.5em 2em;
  font-size: 0.8rem;
  font-weight: 600;
}

.passes_content {
  display: flex;
  flex-direction: column;
}

.aboutus,
.trainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5em;
}

.about_img,
.trainer_img {
  flex-basis: 100%;
  height: 80%;
}

.about_img img,
.trainer_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.trainer_img img {
  height: 450px;
}
.trainer_img img {
  object-position: 0 -60px;
}

.about_txt,
.trainer_txt {
  flex-basis: 100%;
}

.about_txt h2,
.trainer_txt h2 {
  font-size: 2.2rem;
  margin-bottom: 0.63em;
}

.about_txt p {
  width: 80%;
  margin-bottom: 1em;
}

.trainer_txt p {
  margin-bottom: 1em;
}

.trainer_txt {
  padding-left: 1.2em;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 3em;
}

.footer-item {
  width: 180px;
}

.footer-item p {
  font-size: 0.75rem;
}

.footer-item h6 {
  font-size: 1.1rem;
  margin-bottom: 0.78em;
}

@media only screen and (max-width: 950px) {
  /* body {
    overflow-y: hidden;
  } */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1em 2em;
    font-size: 1.3rem;
  }
  nav ul {
    display: none;
  }

  .hero {
    height: 70vh;
    min-height: 500px;
  }
  .hero_text {
    padding: 1em 2em;
    justify-content: center;
    align-items: center;
  }
  .hero_text h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .hero_img {
    display: flex;
    width: 100%;
    justify-content: end;
    /* padding: 1.5em 0; */
    /* width: 50%; */
  }
  .hero_img img {
    width: 100%;
  }

  .reason {
    /* min-height: auto; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    padding: 3em 0;
  }
  .reason h2,
  .reason_text {
    width: 100%;
  }

  .reason h2 {
    /* font-size: 1.9rem;
    margin-bottom: 1em; */
    text-align: center;
  }
  /* 
  .reason_points h6 {
    font-size: 1rem;
    margin-bottom: 3px;
  }

  .reason_points p {
    font-size: 0.8rem;
    width: 70%;
  } */

  .reason_text {
    justify-content: center;
    align-items: center;
  }

  .reason_points {
    flex-basis: 70%;
  }

  /* Price Section */

  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
  }

  .membership {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: scroll;
    padding: 1em 1em;
  }
  .passes ul {
    list-style: none;
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: 500;
  }

  .price h2 {
    margin-bottom: 1em;
    font-size: 1.9rem;
  }

  .passes {
    background-color: rgba(152, 152, 152, 0.183);
    width: 270px;
    padding: 1em;
    border-radius: 0.5em;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .passes hr {
    width: 100%;
    height: 2px;
    background-color: #0a0a0a70;
  }

  .passes h4 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5px;
  }

  .passes h6 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
  }

  .passes li {
    margin-bottom: 5px;
  }

  .passes button {
    background-color: var(--accent-color);
    color: var(--background);
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 2em;
    padding: 0.5em 2em;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .passes_content {
    display: flex;
    flex-direction: column;
  }

  /* About us and trainer*/

  .aboutus,
  .trainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 5em 2em;
  }

  .about_img,
  .trainer_img {
    flex-basis: 100%;
    height: 80%;
  }

  .about_img img,
  .trainer_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .trainer_img img {
    object-position: 0 0;
  }

  .about_txt,
  .trainer_txt {
    flex-basis: 100%;
  }

  .about_txt h2,
  .trainer_txt h2 {
    font-size: 2rem;
    margin-bottom: 0.63em;
    text-align: center;
  }

  .about_txt p,
  .trainer_txt p {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }

  .trainer_txt p {
    margin-bottom: 1em;
  }

  .trainer_txt {
    padding-left: 1.2em;
  }

  /* footer */
  /* .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .footer-item:nth-child(1) {
    display: none;
  }
  .footer-item h6,
  .footer-item p {
    text-align: center;
  } */
}

@media only screen and (max-width: 650px) {
  /* body {
    overflow-y: hidden;
  } */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1em 2em;
    font-size: 1.3rem;
  }
  nav ul {
    display: none;
  }

  .hero {
    height: 70vh;
    min-height: 500px;
  }
  .hero_text {
    padding: 1em 2em;
    justify-content: center;
    align-items: center;
  }
  .hero_text h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .hero_img {
    display: flex;
    width: 100%;
    justify-content: end;
    /* padding: 1.5em 0; */
    /* width: 50%; */
  }
  .hero_img img {
    width: 100%;
  }

  .reason {
    /* min-height: auto; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    padding: 3em 0;
  }
  .reason h2,
  .reason_text {
    width: 100%;
  }

  .reason h2 {
    /* font-size: 1.9rem;
    margin-bottom: 1em; */
    text-align: center;
  }
  /* 
  .reason_points h6 {
    font-size: 1rem;
    margin-bottom: 3px;
  }

  .reason_points p {
    font-size: 0.8rem;
    width: 70%;
  } */

  .reason_text {
    justify-content: center;
    align-items: center;
  }

  .reason_points {
    flex-basis: 70%;
  }

  /* Price Section */

  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
  }

  .membership {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: scroll;
  }
  .passes ul {
    list-style: none;
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: 500;
  }

  .price h2 {
    margin-bottom: 1em;
    font-size: 1.9rem;
  }

  .passes {
    background-color: rgba(152, 152, 152, 0.183);
    width: 270px;
    padding: 1em;
    border-radius: 0.5em;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .passes hr {
    width: 100%;
    height: 2px;
    background-color: #0a0a0a70;
  }

  .passes h4 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5px;
  }

  .passes h6 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
  }

  .passes li {
    margin-bottom: 5px;
  }

  .passes button {
    background-color: var(--accent-color);
    color: var(--background);
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 2em;
    padding: 0.5em 2em;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .passes_content {
    display: flex;
    flex-direction: column;
  }

  /* About us and trainer*/

  .aboutus,
  .trainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 5em 2em;
  }

  .about_img,
  .trainer_img {
    flex-basis: 100%;
    height: 80%;
  }

  .about_img img,
  .trainer_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .trainer_img img {
    object-position: 0 0;
  }

  .about_txt,
  .trainer_txt {
    flex-basis: 100%;
  }

  .about_txt h2,
  .trainer_txt h2 {
    font-size: 2rem;
    margin-bottom: 0.63em;
    text-align: center;
  }

  .about_txt p,
  .trainer_txt p {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }

  .trainer_txt p {
    margin-bottom: 1em;
  }

  .trainer_txt {
    padding-left: 1.2em;
  }

  /* footer */
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .footer-item:nth-child(1) {
    display: none;
  }
  .footer-item h6,
  .footer-item p {
    text-align: center;
  }
}
